rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
  
    match /messages/{docId} {
      allow read: if request.auth.uid != null;
      allow create: if canCreateMessage();
      allow update: if request.auth.token.moderator == true && 
                      // If the request only has the isDeleted field
                      // https://firebase.google.com/docs/firestore/security/rules-fields#allowing_only_certain_fields_to_be_changed
                      (request.resource.data.diff(resource.data).affectedKeys()
                      .hasOnly(['isDeleted']));
    }
  
    match /users/{docId} {
      allow update: if request.auth.token.moderator == true && 
                      (request.resource.data.diff(resource.data).affectedKeys()
                      .hasOnly(['isBanned']));
    }

    function canCreateMessage() {
      let isSignedIn = request.auth.uid != null;
      let isOwner = request.auth.uid == request.resource.data.uid;

      let isNotBanned = exists(
        /databases/$(database)/documents/banned/$(request.auth.uid)
      ) == false;

      return isSignedIn && isOwner && isNotBanned;
    }
  }
}