ul {
  padding-left: 5px;
}

[type="color"] {
  cursor: pointer;
}

.outlined {
  border: 1px solid;
}

.bold {
  font-weight: bold;
}

.chat-app {
  height: 100%;
  max-width: 728px;
  margin: 0 auto;
  background-color: black;
  font-family: sans-serif;
  padding: 5px;

  position: relative;

  color: rgb(255, 121, 0);
}

.chat-app header {
  min-height: 20px;
  color: white;
}

.chat-app {
  display: flex;
  justify-content: center;
}

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.messages-section {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  color: initial;
  margin-bottom: 0.3em;
}

[data-format="*"] {
  font-style: italic;
}

[data-format="**"] {
  font-weight: bold;
}

[data-format="_"] {
  text-decoration: underline;
}

.menu {
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid rgb(222, 222, 222);
  bottom: 1.3em;
  white-space: nowrap;
}

.menu > * {
  color: #0084eb;
  cursor: pointer;
  padding: 0.25em 0.5em;
}

.menu > *:last-child {
  margin-bottom: 0;
}

.menu > *:hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
}

.chat-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chat-controls * {
  vertical-align: middle;
}

.online-users {
  background: white;
  border: 1px solid rgb(222, 222, 222);
  color: black;
  padding: 5px;
  font-size: 0.85em;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 200px;
}

.chat-room::-webkit-scrollbar {
  width: 14px;
}

.chat-room::-webkit-scrollbar-track {
  background: rgb(226, 226, 226);
}

.chat-room::-webkit-scrollbar-thumb {
  background: rgb(255, 121, 0);
}

.chat-room-overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-message {
  background: rgb(240, 240, 240);
  color: rgb(24, 23, 23);
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

form {
  height: 100px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

form > * {
  height: 100% !important;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

form svg {
  border: 1px solid black;
}

.format-controls {
  font-size: 0.8em;
  display: flex;
  height: 1.5em;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.3em;
}

.format-controls svg {
  font-size: 1.2em;
}

.format-controls > * {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  display: flex;
  position: relative;
}

.format-controls * {
  vertical-align: middle;
}

.format-controls .down-arrow {
  margin-left: -1px;
  margin-right: -7px;
}

.format-controls > em {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9em;
}

.font-color > :first-child {
  color: black;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background: white;
  outline: none;
  border: none;
  padding: 10px 15px;
  font-family: sans-serif;
  resize: none;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.message {
  border-left: 5px solid rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid;
  font-size: 0.9rem;
  padding: 5px;
  padding-left: 0px;
}

.message-username {
  font-weight: bold;
}

.message-contents {
  margin-left: 5px;
}

.message > div {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.message p {
  white-space: pre-wrap;
  margin: 0px;
}

.message.mention {
  border-left: 5px solid rgb(255, 204, 0);
}

.message-details {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  top: 0px;
  right: 0px;
  font-size: 0.75rem;
  padding: inherit;
}

.message-timestamp {
  /* width: 100%; */
}

.message-details > * {
  vertical-align: middle;
}

.message button {
  width: 15px;
  height: 15px;
  padding: 0;
  font-size: 10px;
  background: none;
  color: black;
}

.message button:hover {
  background: red;
  color: white;
}

.sent {
  /* flex-direction: row-reverse; */
}

.sent p {
  /* align-self: flex-end; */
}

.received p {
}

img {
  height: 40px;
}
