.chat-app {
  height: 100%;
  max-width: 728px;
  margin: 0 auto;
  background-color: black;
  font-family: sans-serif;
  padding: 5px;
}

.chat-app header {
  min-height: 20px;
  color: white;
}

.chat-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-room {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  margin-bottom: 5px;
}

.chat-room::-webkit-scrollbar {
  width: 14px;
}

.chat-room::-webkit-scrollbar-track {
  background: rgb(226, 226, 226);
}

.chat-room::-webkit-scrollbar-thumb {
  background: rgb(255, 121, 0);
}

form {
  height: 100px;
  background-color: rgb(24, 23, 23);
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

textarea {
  width: 100%;
  font-size: 1rem;
  background: white;
  outline: none;
  border: none;
  padding: 10px 15px;
  font-family: sans-serif;
  resize: none;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.message {
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid;
}

.sent {
  /* flex-direction: row-reverse; */
}

.sent p {
  /* align-self: flex-end; */
}

.received p {
}

img {
  width: 40px;
  height: 40px;
  margin: 2px 5px;
}
