.emoji-selector {
  section {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-around;
  }

  section > * {
    cursor: pointer;
    padding: 5px;
    font-size: 1.3em;
  }

  input {
    width: 100%;
    padding: 5px;
    cursor: initial;
    font-size: initial;
  }
}
